/*Importamos el archivo de las fuentes CSS para poder utilizarlas en nuestro proyecto solo con la propiedad font-family: ...*/

@import url('fonts.css');

/* Colores que serán ocupados en la página */
:root{
    --color1: #C0C0C0;
    --color2: #2D2D2D;
    --color3: #D9D9D9;
    --color4: #333333;
}

*{
    margin: 0;
}

body {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* Modificar la barra lateral */
body::-webkit-scrollbar, .modal-body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb, .modal-body::-webkit-scrollbar-thumb{
    background: var(--color2);
    border-radius: 1vw;
}

/* Sección - Barra de navegación */
.menu{
    background-color: var(--color1)
}
.menu_items{
    transition: 0.7s ease;
    color: var(--color2);
}
.menu_items:hover{
    color: var(--color3);
}

/* Linea al pasar el cursor */
.menu_items{
    position: relative;
    font-size: 18px;
    color: var(--color2);
    font-weight: 500;
    text-decoration: none;
    margin-left: 1vw;
}
.menu_items::before {
content: '';
position: absolute;
top: 100%;
left: 0;
width: 0;
height: 2px;
background: var(--color2);
transition: .4s;
}
.menu_items:hover::before{
    width: 75%;
}

/* Cambiar el hamburger por algo más estético 
Aclaro que lo había intentado con otro método pero no 
podía sacar el borde del hamburger, por lo cual decidí ocupar este*/
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--color2);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}
.navbar-nav .nav-link.active {
    color: var(--color3);
}

/* Sección - Imagen de bienvenida */
.img_bienvenida {
    position: relative; 
    background-image: url("../img/ImgFondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 45em;
}

.fondo_bienvenida {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16.6vw;
    text-align: center;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
}
.txt_bienvenida {
    font-size: 7vw;
    text-shadow: 4px 4px var(--color2);
}

/* Sección - Sobre mí */
.fondo-color {
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    padding: 160px; 
}
.cuadro {
    background-color: var(--color2); 
    width: 90vw; 
    height: 33vw; 
    border-radius: 2vw;
}
.img_sm{
    height: 21vw;
    width: 22vw; 
    border-radius: 1vw;
}
.foto_sm{
    text-align: center;
}
.texto_sm{
    text-align: center;
    padding-right: 3vw;
    font-size: 1.2vw;
}

/* Sección - Portafolio */
.fondo_portadolio{
    background-color: var(--color1);
    padding-bottom: 14vw;
}
.cards_displays{
    display: flex;
    justify-content: center;
}
.card{
    width: 30vw;
    border-radius: 2vw;
}
.cards_comp{
    border-radius: 2vw;
    padding: 3vw;
    background-color: var(--color2);
}
.img_card{
    padding: 2vw;
    width: 25vw;
    height: 40vw;
}
.java_card{
    height: 25vw;
}
.comp_port2{
    height: 35vw;
}
.boton{
    transition: 0.7s ease;
    background-color: var(--color1);
    color: white;
    width: 10vw;
    margin-left: 1vw;
}
.modal-body{
    text-align: center;
}
.modal-content{
    background-color: var(--color1);
}
.modal-title, .texto_modal{
    color: var(--color2);
}
.texto_modal{
    padding: 1.5vw  0vw 1.5vw;
}
#modal-long-content_CasinoDuocver{
    display: none; 
    overflow-y: auto;
}

/* Sección - Certificados */
.fondo_certificados{
    background-color: var(--color1);
    padding-top: 10vw;
    padding-bottom: 5vw;
}
.fondo_certificados .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estado_txt{
    margin: 6vw 0 6vw;
    padding: .4vw 2vw .4vw 30vw;
    background-color: var(--color3);
}
.certificado_caja{
    height: 18vw;
    width: 36vw;
    background-color: var(--color2);
    margin-bottom: 4vw;
}
.certificado_caja {
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.progress{
    width: 36vw;
    background-color: var(--color3);
}
.progress-bar.custom-color{
    background-color: var(--color2);
}

/* Sección - Contacto */
.contacto_fondo{
    background-color: var(--color1);
    padding-bottom: 4vw;
}
.textocontacto{
    margin-bottom: 5vw;
}
.form{
    padding: 1vw;
}
.campo_contacto{
    border-radius: 2vw;
    background-color: var(--color3);
    transition: 0.7s ease;
}
.boton_contacto{
    border-radius: 1vw;
    background-color: var(--color2);
    color: white;
    width: 10vw;
    margin-left: 1vw;
    transition: 0.7s ease;
}
.campo_contacto:focus {
    border-color: var(--color3);
    box-shadow: 0 0 1vw var(--color2);
    background-color: var(--color4);
    color: white;
    
}

/* Sección - Pié de página */
.fondo_pie_pagina{
    padding: 2vw;
    background-color: var(--color2);
    text-align: center;
}
.pie_pag_foto{
    margin: 2vw;
    width: 30vw; 
    height: 13vw;
}
.pie_pag_texto{
    font-size: 1.6vw;
}

/* Responsive para dispositivos pequeños */
@media (max-width: 764px) {
    
    /* Sección - Barra de navegación */
    .menu_items:hover::before{
        width: 20vw;
    }

    /* Sección - Imagen de bienvenida */
    .img_bienvenida {
        height: 65vw;
    }
    .fondo_bienvenida {
        padding: 10vw;
    }
    .txt_bienvenida {
        padding-top: 14vw;
        font-size: 6vw;
    }

    /* Sección - Sobre mí */
    .fondo-color {
        padding: 4vw; 
    }
    .cuadro {
        display: block;
        padding: 8vw;
        width: 60vw; 
        height: 128vw;
    }
    .img_sm{
        height: 34vw;
        width: 40vw; 
        margin: 0 auto;
        border-radius: 2vw;
    }
    .texto_sm_titulo{
        padding: 4vw;
    }
    .texto_sm{
        font-size: 2vw;
    }
    
    /* Sección - Portafolio */
    .cards_comp{
        width: 42vw;
    }
    .boton{
        width: 12vw;
    }

    /* Sección - Certificados */
    .fondo_certificados h2{
        font-size: 3vw;
    }
    .fondo_certificados h4{
        font-size: 2vw;
    }

    /* Sección - Contacto */
    .boton_contacto{
        width: 18vw;
    }
    
}

/* Responsive para dispositivos medianos */
@media (min-width: 764px) and (max-width: 1300px) {

    /* Sección - Barra de navegación */
    .menu_items:hover::before{
        width: 8vw;
    }

    /* Sección - Imagen de bienvenida */
    .img_bienvenida {
        height: 60vw;
    }
    .txt_bienvenida {
        padding-top: 10vw;
        font-size: 7vw;
    }

    /* Sección - Sobre mí */
    .fondo-color {
        display: flex;
        justify-content: center;
        padding: 4vw; 
    }
    .cuadro {
        width: 90vw; 
        height: 40vw;
    }
    .img_sm{
        border-radius: 2vw;
    }
    .texto_sm{
        font-size: 1.2vw;
    }

    /* Sección - Contacto */
    .boton_contacto{
        width: 14vw;
    }
}